/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  font-family: "JetBrains Mono", monospace;
  color: #fff;
  background-color: #222;

  --text-color-primary: #fff;
  --text-color-secondary: #aaa;

  --pastel-green: #77dd77;
  --pastel-red: #ff6961;
  --pastel-red-hover: #e05550;


  --pastel-green-rgb: 119, 221, 119;
  --pastel-red-rgb: 255, 105, 97;
}

body {
  margin: 0;
  overflow: hidden;
}
